html, body {
    min-height: 100vh;

    font-size: $root-size-base;
    @each $bp, $font-size in $root-sizes {
        @include media-breakpoint-only($bp) {
            font-size: $font-size;
        }
    }    

    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;    
    
    * {
        box-sizing: inherit;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        color: inherit;
    }
    
    font-family: $font-family-default;
    
    color: $body-color;
    background: $body-bg;

    padding-top: $header-navigation-height;

    @include media-breakpoint-down(sm) {
        padding-top: $header-navigation-height__mobile;
    }

}